<nav class="navbar navbar-expand-lg navbar-dark primary-bg">
  <div class="container-fluid">
    <a class="navbar-brand" href="javascript:void(0)" (click)="navigateToDashboard()">
      <i class="material-icons me-2">support</i>
      Support Management
    </a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="isAdmin ? '/admin' : '/user'" routerLinkActive="active">
            <i class="material-icons me-1">dashboard</i> Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="isAdmin ? '/admin/tickets' : '/tickets'" routerLinkActive="active">
            <i class="material-icons me-1">confirmation_number</i> Tickets
          </a>
        </li>
        <ng-container *ngIf="isAdmin">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/admin/users'" routerLinkActive="active">
              <i class="material-icons me-1">people</i> Users
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/admin/reports'" routerLinkActive="active">
              <i class="material-icons me-1">analytics</i> Reports
            </a>
          </li>
        </ng-container>
      </ul>
      
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" *ngIf="currentUser">
          <app-notifications></app-notifications>
        </li>
        <li class="nav-item dropdown" *ngIf="currentUser">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
            data-bs-toggle="dropdown" aria-expanded="false">
            <i class="material-icons me-1">account_circle</i>
            {{ currentUser.firstName }} {{ currentUser.lastName }}
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" [routerLink]="isAdmin ? '/admin/profile' : '/user/profile'">
              <i class="material-icons me-2">person</i> My Profile
            </a></li>
            <li *ngIf="!isAdmin"><a class="dropdown-item" [routerLink]="'/user/login-history'">
              <i class="material-icons me-2">history</i> Login History
            </a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="javascript:void(0)" (click)="logout()">
              <i class="material-icons me-2">exit_to_app</i> Logout
            </a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav> 