<h2 mat-dialog-title>{{ data?.idEvenement ? 'Modifier l\'événement' : 'Ajouter un événement' }}</h2>
<form [formGroup]="eventForm" (ngSubmit)="submit()">
  <mat-form-field class="full-width">
    <mat-label>Titre</mat-label>
    <input matInput formControlName="titre" required>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Description</mat-label>
    <input matInput formControlName="description">
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Date de l'événement</mat-label>
    <input matInput type="date" formControlName="dateEvent" required>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Catégorie</mat-label>
    <input matInput formControlName="categorie" required>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Enregistrer</button>
</form>
